# OpenAI Configuration
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini

# Project Configuration
PROJECT_NAME=otimizacao-rotas-medicas
DEBUG_MODE=True

# Genetic Algorithm Default Parameters
DEFAULT_POPULATION_SIZE=100
DEFAULT_GENERATIONS=100
DEFAULT_MUTATION_RATE=0.3

# Visualization
SCREEN_WIDTH=800
SCREEN_HEIGHT=400
